html {
  background-color:#dbd6cf;
  /* changes background colour of the specified tag to a specified colour */
}
h1, h2, h3{
/* specifies the element, by addign the comma ',h2' your'e adding h2 to the list
of properties that will be changed with the code below */
  font-family: 'Chewy', sans-serif;
  /* typing the specific 'font name' in from the hmtl link will set the text
  to the outside font linked to google fonts */
  color:#79756f;
  /* changes title color to specified color */
}

ul{
  list-style-type: none;
  /* specifies the bullets of the list to be lower-alpha(alphabet), lower-roman(roman numerals),
  decimal(decimals), circle(circles), or none(no bullets)*/
  padding:0;
  /* padding aligns a list to the left and getd rid of indentation */

ol{
  list-style-type: lower-roman;
}

.quotes{
  font-size: 1.5rem;
}

  a:hover{
    color: orange;
}

span{
  font-style: bolder;
  color: red;
  font-size: 3rem;
}

a{
  color: red;
}
